/******************Imports*****************/

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v16/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/******************General*****************/

body {
    min-width: 1200px;
    background: #ccc;
}

a,
a:hover,
a:focus {
    color: #000;
    text-decoration: none;
}

.my-container {
    width: 1200px;
    margin: 0 auto;
    color: #000;
    padding-top: 50px;
    position:relative;
}

.block-hover span {
    display: inline !important;
}

.blue{
    background:rgb(3, 169, 244) !important;
}

.red{
    background:#F44336 !important;
}

.green{
    background:#3c763d !important;
}

hr {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.16);
}

.main {
    background: #FFFFFF;
    position: relative;
    z-index: 3;
    padding: 30px 0;
    min-width: 1200px !important;
}

.main-raised {
    min-width: 1200px !important;
    margin: -60px 30px 20px 30px !important;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

figure img {
    height: 200px;
    width:200px;
}

.short-idea-desc{
    padding:0 10px;
}
.short-idea-desc p{
    font-size:16px !important;
}

.section-header > h2 {
    font-family: 'open_sansbold';
    text-align: center;
    margin-bottom: 30px;
}

.divider {
    margin: 20px 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.vertical-divider {
    display: inline-block;
    width: 1px;
    height: 60px;
    background: rgba(204, 204, 204, 0.55);
    margin: 0 25px !important;
}


.emphasis {
    border-top: 4px solid transparent;
    z-index:99999999;
}

.emphasis:nth-of-type(1):hover {
    border-top: 4px solid #FBC02D;
}

.emphasis:nth-of-type(2):hover {
    border-top: 4px solid green;
}

.emphasis:nth-of-type(3):hover {
    border-top: 4px solid red;
}

.emphasis h2 {
    margin-bottom: 0;
}


#about-us,
#addIdea,
#main-auth-page,
#ideaPage,
#user-info,
#ideaBody {
    padding-top: 70px;
}

#about-us .my-container,
#addIdea .my-container,
#main-auth-page .my-container,
#ideaPage .my-container,
#user-info .my-container,
#ideaBody .my-container {
    padding-top: 0;
}

#about-us .main-raised,
#addIdea .main-raised,
#main-auth-page .main-raised,
#ideaPage .main-raised,
#user-info .main-raised,
#ideaBody .main-raised {
    margin-top: 50px !important;
    margin-bottom:40px !important;
}

/*************Landing Page*****************/

.landingBody {
    background: url("../img/background.jpg") 50% 0%/cover no-repeat;
    background-attachment: fixed;
}

.landingBody a,
.landingBody a:hover,
.landingBody a:focus {
    color: #fff;
    text-decoration: none;
}

.main-heading {
    font-family: 'open_sansregular';
    color: #fff;
    text-align: center;
    font-size: 100px;
    margin-top: 90px;
}

.heading2 {
    font-family: 'open_sanslight';
    color: #fff;
    text-align: center;
    font-size: 30px;
}

.arrow {
    width: 50px;
    height: 70px;
    background: url("../img/arrows.png") 50% 50%/cover no-repeat;
    margin: 0 auto;
    margin-top: 200px;
}

.nextPage-block {
    display: block;
    margin: 0 auto;
    width: 145px;
}

.arrowtext {
    display: block;
    font-family: 'open_sanslight';
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 10px;
}

.section2 {
    text-align: center;
}

.block {
    margin-top: 0px;
    display: inline-block;
    width: 370px;
    vertical-align: top;
}

.block h3 {
        font-family: 'open_sansbold';
        color: #fff;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        width: 250px;
    }

.round {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #fff;
}

.round-1 {
    background: url("../img/technology.png") 50% 50% no-repeat;
}

.round-2 {
    background: url("../img/people.png") 50% 50% no-repeat;
}

.round-3 {
    background: url("../img/up-arrow.png") 50% 50% no-repeat;
}

#fullpage .round2{
    background: rgba(0,0,0,0.5) !important;
}

.quote {
    font-family: 'open_sanslight';
    color: #fff;
    margin-top: 50px;
}

.author {
    display: block;
    font-family: 'open_sanslight_italic';
    color: #fff;
    font-size: 20px;
    position: relative;
    left: 300px;
}

.startButton {
    font-family: 'open_sansbold';
    margin: 0 auto;
    margin-top: 30px;
    height: 60px;
    width: 250px;
    color: #fff;
    background-color: transparent;
    outline: 0;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-size: 20px;
    transition: all .2s ease-in-out;
}

.startButton:hover {
        background-color: #fff;
        color: #000;
        transition: all .2s ease-in-out;
}

.underButton {
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

.logFB{
    margin-top:5px;
}

.text1 {
    font-family: 'open_sanslight';
    color: #fff;
    float: left;
    font-size:16px;
}

.text2 {
    display: block;
    font-family: 'open_sanslight';
    color: #fff;
    margin-top: -30px;
    margin-left: -333px;
}

.text1 .log {
    text-decoration: underline;
}

.facebook-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 7px;
    background: #fff url("../img/facebook.png") 50% 50% no-repeat;
    position: relative;
    top: 6px;
}

#fullpage form {
    width: 400px;
    border: 1px solid #fff;
    margin: 0 auto;
    padding: 20px;
        background: rgba(0,0,0,0.4);
}

#fullpage form input,
#fullpage form input:hover,
#fullpage form input:focus {
    outline: 0;
}

#fullpage form input[type="text"],
#fullpage form input[type="password"] {
    font-family: 'open_sanslight';
    display: block;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.password,
.confirmPassword,
.loginPassword{
    position:relative;
}

.loginPassword .glyphicon,
.confirmPassword .glyphicon,
.password .glyphicon{
    display:none;
    position: absolute;
    color: #fff;
    top: 34%;
    right: 7%;
    cursor:pointer;
}

#fullpage form input::-webkit-input-placeholder {
    color: #fff;
}

#fullpage form .submitButton {
    display: inline-block;
    font-family: 'open_sansbold';
    width: 108px;
    height: 49px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    margin: 0 auto;
    margin-top: 30px;
    transition: all .2s ease-in-out;
    font-size: 18px;
    outline: 0;
    border-radius: 5px;
    padding: 0;
    position: relative;
    z-index: 20;
    margin-right:10px;
}

#fullpage form .img-btn{
    display:inline-block;
}
#fullpage form .img-btn,
#fullpage form .img-btn img{
    width: 108px;
    height: 50px;
}

#fullpage form .submitButton:hover {
    background-color: #fff;
    color: #000;
    transition: all .2s ease-in-out;
}

#fullpage form p {
    font-family: 'open_sanslight';
    color: #fff;
    margin-top: 5px;
}

#fullpage form p:hover {
    text-decoration: underline;
}

#fullpage .arrow-block {
    font-family: 'open_sanslight';
    float: right;
    width: 120px;
    margin-top: -170px;
    cursor: pointer;
    margin-right: 10px;
}

#fullpage .left-arrow-block {
    float: left;
    margin-top: -325px;
    margin-left: 10px;
}

#fullpage .arrow-block span {
    color: #fff;
    font-size: 20px;
    position: relative;
    top: 17px;
}

.right-arrow {
    background: url("../img/right-arrow.png") 50% 50%/cover no-repeat;
}

.left-arrow {
    background: url("../img/left-arrow.png") 50% 50%/cover no-repeat;
}

#fullpage .arrow-block .arrow1 {
    float: right;
    width: 64px;
    height: 64px;
}

#fullpage .arrow-block .arrow3 {
    float: left;
    width: 64px;
    height: 64px;
}

.round2 {
    font-family: 'open_sansbold';
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 0 auto;
    color: #fff;
    font-size: 30px;
    padding-top: 45px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.auth-title {
    font-family: 'open_sanslight';
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
}

.round3 {
    width: 100px;
    height: 100px;
    background: #fff url("../img/add-info.png") 50% 50% no-repeat;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 11;
}

#fullpage .third-slide form {
    position: relative;
    top: -35px;
    z-index: 10;
}

#fullpage .third-slide form input:last-child {
    margin-bottom: 0;
}

#fullpage .third-slide form input {
    width: 340px;
}

#fullpage .next-button {
    font-family: 'open_sanslight';
    color: #fff;
    font-size: 30px;
    margin: 0 auto;
    position: relative;
    left: 163px;
    cursor: pointer;
    width: 87px;
}

.arrow2 {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.four-slide form {
    text-align: left;
}

.four-slide input {
    font-family: 'open_sanslight';
    background-color: transparent;
    outline: 0;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    width: 258px;
    padding: 10px;
    position: relative;
    top: -5px;
    left: 10px;
}

.four-slide form h3 {
    font-family: 'open_sanslight';
    color: #fff;
    font-size: 40px;
    margin-top: -10px;
    display: inline-block;
}

.underline {
    background-color: #fff;
    height: 2px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.four-slide textarea {
    font-family: 'open_sanslight';
    width: 350px;
    height: 150px;
    border: 1px solid #fff;
    background-color: transparent;
    outline: 0;
    resize: none;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
}

#fullpage form textarea::-webkit-input-placeholder {
    color: #fff;
}

#fullpage .fifth-slide {
    font-family: 'open_sanslight';
    color: #fff;
}

#fullpage .fifth-slide p {
    font-size: 23px;
    margin-top: 25px;
}

.success {
    width: 128px;
    height: 128px;
    margin: 0 auto;
    margin-top: 20px;
    background: url("../img/mark.png") 50% 50%/cover no-repeat;
}

#fullpage .fifth-slide h3 {
    font-size: 40px;
}

#fullpage .fifth-slide h1 {
    font-family: 'open_sansbold';
    font-size: 50px;
}

#fullpage h3.go-link {
    width: 110px;
    margin: 0 auto;
    border-bottom: 2px solid #fff;
    font-size: 70px;
}

#fullpage .first-slide form,
#fullpage .first-slide form input,
#fullpage .third-slide form,
#fullpage .third-slide form input,
#fullpage .four-slide form,
#fullpage .four-slide form textarea {
    border-radius: 5px;
}

/*************IdeaBody*****************/

#ideaBody .search-title,
#ideaBody .ideaBody-title {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 30px;
}

#ideaBody .ideaBody-title {
    text-transform: uppercase;
}

#ideaBody .search-title span,
#ideaBody .ideaBody-title span {
    font-family: 'open_sansregular';
    font-size: 40px;
}

#ideaBody .right-arrow {
    width: 32px;
    height: 32px;
    background: url("../img/authSite/right-arrow.png") 50% 50%/cover no-repeat;
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: 3px;
}

#ideaBody .search-field {
    font-family: 'open_sansregular';
    height: 40px;
    position: relative;
    top: -8px;
    background-color: transparent;
    outline: 0;
    border-radius: 10px;
    width: 1019px;
    padding-left: 55px;
    padding-right: 10px;
    /*margin-left: -13px;*/
    font-size: 17px;
    margin-bottom: 50px;
    background: url("../img/authSite/search.png") 1% 50% no-repeat;
    border: 1px solid #03a9f4;
    transition: linear 0.3s;
}

#ideaBody .search-field:focus {
    border: 1px solid #03a9f4;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: linear 0.3s;
}

#ideaBody .search-button {
    font-family: 'open_sansregular';
    font-size: 20px;
    margin-left: 20px;
    width: 140px;
    height: 40px;
    outline: 0;
    border-radius: 5px;
    position: relative;
    top: -12px;
    text-transform:none;
    transition: all .2s ease-in-out;
    padding: 0 !important;
}

#ideaBody .ideaBlock {
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
}

#ideaBody .ideaBlock h3 {
    margin: 0;
    font-size: 30px;
}

#ideaBody .addIdeaBlock-wrap {
    display: block;
    width: 100%;
    transition: all .3s ease-in-out;
}

#ideaBody .hover-content-wrap {
    display: inline-block;
}

#ideaBody .addIdeaBlock-wrap:hover {
    background: rgba(7, 7, 7, 0.65);
    transition: all .3s ease-in-out;
}

#ideaBody .addIdeaBlock-wrap:hover .addIdeaBlock {
    background: url('../img/authSite/plusActive.png') no-repeat;
    transition: all .3s ease-in-out;
}

#ideaBody .addIdeaBlock {
    margin: 0 auto;
    width: 130px;
    display: block;
    height: 130px;
    cursor: pointer;
    background: url('../img/authSite/plus.png') no-repeat;
    transition: all .3s ease-in-out;
}

#ideaBody .hash-block {
    margin-top: 15px;
}

#ideaBody .tag,
#ideaPage .tag,
.tag-editor .tag-editor-tag {
    font-family: 'open_sansregular';
    font-size: 15px;
    padding: 9px;
    padding-right: 60px;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000 !important;
    background: url("../img/authSite/commerce.png") 90% 50% no-repeat !important;
    margin-right: 5px !important;
    margin-bottom: 7px;
    cursor: pointer;
}

#ideaPage .tag.tag-light,
.tag-editor .tag-editor-tag{
    border: 1px solid #fff;
    color: #fff !important;
    background: url("../img/authSite/commerce1.png") 90% 50% no-repeat !important;
}

#ideaBody .ideaBlock .point-block {
    float: right;
    margin-right: 30px;
    padding: 10px;
}

#ideaBody .ideaBlock .point-block .points {
    height: 55px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-color: /*#FBC02D*/ #000;
    color: #fff;
    font-family: 'open_sansbold';
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    padding-left: 13px;
    padding-right: 13px;
}

#ideaBody .ideaBlock .point-block span {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'open_sanslight';
    font-size: 15px;
}

#ideaBody .ideaBlock p {
    font-family: 'open_sanslight';
    font-size: 15px;
    margin-top: 20px;
}

#ideaBody .ideaBlock .ideaBlock-hover,
#user-info .user-photo .userPhoto-hover,
.block-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(7, 7, 7, 0.65);
    cursor: pointer;
    opacity: 0;
    z-index: -1;
    transition: all .3s ease-in-out;
    z-index: 999;
}

#ideaBody .ideaBlock-hover,
.block-hover {
    text-align: center;
}

#ideaBody .ideaBlock .ideaBlock-hover .hover-content-wrap,
#user-info .user-photo .userPhoto-hover .hover-content-wrap,
.block-hover .hover-content-wrap {
    display: table;
    margin: 0 auto;
    height: 100%;
}

#ideaBody .ideaBlock .ideaBlock-hover .hover-content,
#user-info .user-photo .userPhoto-hover .hover-content,
.block-hover .hover-content {
    display: table-cell;
    width: 128px;
    vertical-align: middle;
}

#ideaBody .ideaBlock .ideaBlock-hover h2,
#user-info .user-photo .userPhoto-hover h2,
.block-hover h2 {
    color: #fff;
    margin: 0;
    font-family: 'open_sansregular';
    text-align: center;
    font-size:22px;
}

#ideaBody .ideaBlock .ideaBlock-hover img,
#user-info .user-photo .userPhoto-hover img,
.block-hover img {
    width: 100px;
    height: auto;
    margin: 0 auto 10px auto;
    display: block;
}

#ideaBody .ideaBlock-img img {
    width: 100%;
    padding: 0 20px 0 10px;
    height: auto;
    height: 277px;
}

@keyframes moveFilter {
    from {
        right: 0;
    }

    to {
        right: -230px;
    }
}

@keyframes moveFilter2 {
    from {
        right: -230px;
    }

    to {
        right: 0;
    }
}

/*#ideaBody*/ .filter {
    border: 1px solid #000;
    width: 230px;
    height: 300px;
    position: fixed;
    background-color: #fff;
    right: -230px;
    top: 30%;
    z-index: 100;
    animation-name: temp;
    animation-duration: 1s;
    z-index: 10000;
    padding-top: 20px;
}

/*#ideaBody*/ .filter h3 {
    font-family: 'open_sanslight';
    text-align: center;
    color: #000;
}

/*#ideaBody*/ .filter #openButton {
    height: 80px;
    width: 60px;
    position: relative;
    top: 60px;
    left: -60px;
    outline: 0;
    border: 1px solid #000;
    background: #fff url("../img/authSite/filter.png") 50% 50% no-repeat;
}

/*#ideaBody .*/.filter form {
    margin-top: -80px;
    padding-left: 20px;
    padding-right: 20px;
}

/*#ideaBody*/ .filter form input {
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

/*#ideaBody*/ .filter form label {
    cursor: pointer;
    font-family: 'open_sanslight';
    display: block;
}

/*#ideaBody*/ .filter hr {
    margin-top: 15px;
}

/*#ideaBody*/ .filter select {
    font-family: 'open_sanslight';
    display: block;
    width: 100%;
    color: #000;
    margin-top: -20px;
    padding-left: 7px;
}

/*#ideaBody*/ .filter .date {
    display: inline-block;
    width: 80%;
    margin-top: 10px;
    padding-left: 10px;
}

/*#ideaBody*/ .filter .dateIcon {
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url("../img/authSite/time.png") 50% 50%/cover no-repeat;
    position: relative;
    top: 8px;
}

/*#ideaBody*/ .filter input[type="submit"] {
    font-family: 'open_sanslight';
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    height: 35px;
    width: 100px;
    outline: 0;
    background-color: transparent;
    border: 1px solid black;
    transition: all .2s ease-in-out;
}

/*#ideaBody*/ .filter input[type="submit"]:hover {
    transition: all .2s ease-in-out;
    background-color: #000;
    color: #fff;
}

/*************IdeaPage*****************/

.idea-info-block {
    width: 100%;
    padding: 10px;
    background: url('../img/authSite/slide1.jpg');
     background-size: cover;
     height:400px;
     display:table;
     border-top-left-radius:6px;
     border-top-right-radius:6px;
     border-spacing: 20px;
}

 #ideaPage .attachment:hover .block-hover {
    opacity: 1;
    z-index: 10000;
    transition: all .3s ease-in-out;
}

#ideaPage .ideaPhoto {
    display: inline-block;
    width: 470px;
    height: 400px;
    margin-left: 0px;
    border: 1px solid #000;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

#ideaPage .infoBlock,
#ideaPage .infoBlock-author {
    width: 650px;
    display: table-cell;
    vertical-align:middle;
    height:100%;
    padding:20px;
    border-radius:5px;
    color:#fff;
    background:rgba(86, 80, 80, 0.8);
}

#ideaPage .infoBlock-author{
    vertical-align:top;
    text-align:center;
}

#ideaPage .infoBlock-author .user-photo-wrap{
    margin:10px 0;
    text-align:center;
}

#ideaPage .infoBlock-author .user-photo-wrap img{
    height:200px;
    width:200px;
}

#ideaPage .infoBlock-author .author-details{
    display:block;
}

#ideaPage .infoBlock-author .author-details .author-ideas-status{
    display:table;
    width:100%;
}

#ideaPage .infoBlock-author .author-details .author-ideas-status .ideas-status-item{
    display:table-cell;
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
}

#ideaPage .infoBlock-author .author-details .author-ideas-status .ideas-status-item h2{
    font-size:24px;
}

#ideaPage .infoBlock-author .author-details .author-ideas-status .ideas-status-item p{
    margin:0;
}

#ideaPage .infoBlock-author .author-details .author-name,
#ideaPage .infoBlock-author .author-details .author-name a{
    font-size:24px;
    font-family:'open_sansitalic';
    color:#fff !important;
}

#ideaPage h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

#ideaPage h1 {
    font-family: 'open_sansregular';
    text-align: center;
    font-size: 30px;
}

#ideaPage .author-link {
    position: relative;
    left: 100px;
}

#ideaPage h3 {
    font-family: 'open_sanslight_italic';
    text-align: center;
}

#ideaPage h3 a {
    display: inline-block;
    border-bottom: 1px solid black;
}

#ideaPage .hash-block {
    width: 560px;
    margin: 0 auto;
    margin-top: 30px;
}

#ideaPage .point-block {
    float: left;
    margin-left: 50px;
    cursor: pointer;
}

#ideaPage .point-block .points {
    height: 55px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-color: #03A9F4;
    color: #fff;
    font-family: 'open_sansbold';
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    padding-left: 13px;
    padding-right: 13px;
}

#ideaPage .point-block span {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'open_sanslight';
    font-size: 15px;
}

#ideaPage .like-block {
    float: right;
    margin-right: 60px;
    cursor: pointer;
}

#ideaPage .like-block:hover .like-image {
    transition: all .2s ease-in-out;
    opacity: 1;
}

#ideaPage .like-block span {
    font-family: 'open_sansregular';
    font-size: 25px;
    position: relative;
    top: -8px;
    right: 10px;
}

#ideaPage .like-image {
    transition: all .2s ease-in-out;
    opacity: .3;
    display: inline-block;
    width: 64px;
    height: 64px;
    background: url("../img/authSite/like.png") 50% 50%/cover no-repeat;
}

#ideaPage .section-heading {
    text-align: left;
    font-size: 50px;
    margin-bottom: 25px;
    margin-top: 50px;
}

#ideaPage p {
    font-family: 'open_sansregular';
    font-size: 20px;
    margin-left: 3px;
    margin-top: 10px;
}

#ideaPage .attachments-block {
    border-radius: 5px;
    text-align: left;
}

#ideaPage .attachment {
    cursor: pointer;
    display: inline-block;
    height: 186px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 10px 10px 10px;
    vertical-align: bottom;
    position: relative;
}

#ideaPage .attachment.attachment-edit {
    position: relative;
}

#ideaPage .attachment.attachment-edit:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    opacity: 1;
    background-image: url('../img/authSite/delete.png');
}

#ideaPage .attachment span {
    font-family: 'open_sanslight';
    font-size: 24px;
    display: block;
    text-align: center;
    margin-top: 148px;
    width: 150px;
    overflow: hidden;
}

#ideaPage .idea-description textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #000;
    transition: all .3s ease-in-out;
    height: 200px;
    outline: 0;
    resize: none;
    font-family: 'open_sanslight';
    font-size: 20px;
    border-radius: 5px;
}

#ideaPage .idea-description textarea:focus {
    box-shadow: 1px 1px 3px #8e8e8e;
    transition: all .3s ease-in-out;
}

#ideaPage .idea-foto-wrap {
    height: 400px;
    width: 470px;
    border: 1px solid #ccc;
    display: table;
}

#ideaPage .idea-foto-wrap > .idea-foto {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

#ideaPage .idea-foto-wrap > .idea-foto h2 {
    font-family: 'open_sansregular';
}

#ideaPage .idea-foto-wrap > .idea-foto img {
    display: inline-block;
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

#ideaPage .word {
    background: url("../img/authSite/word.png") 50% 30% no-repeat;
}

#ideaPage .powerpoint {
    background: url("../img/authSite/powerpoint.png") 50% 30% no-repeat;
}

#ideaPage .excel {
    background: url("../img/authSite/excel.png") 50% 30% no-repeat;
}

#ideaPage .add-attachment {
    background: url('../img/authSite/plusActive.png') 50% 30% no-repeat;
}

#ideaPage .comment {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

#ideaPage .comment .user {
    width: 100px;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
    padding-top: 12px;
}

#ideaPage .comment .user a {
    color:rgba(7, 7, 7, 0.65);
    display: block;
    font-family: 'open_sansregular';
    font-size: 20px;
    margin-top: 10px;
}

#ideaPage .comment .image-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
}

#ideaPage .comment .image-container img {
    display: block;
    width: inherit;
}

#ideaPage .comment .comment-part {
    display: inline-block;
    vertical-align: top;
    width: 1030px;
}

#ideaPage .comment .date {
    float: right;
    margin-top: -40px;
    font-size: 15px;
    font-family: 'open_sansbold';
    color:#989797;
}

#ideaPage .comment .comment-heading {
    font-family: 'open_sansregular';
}

#ideaPage .comment .comment-text {
    font-family: 'open_sanslight';
    font-size: 18px;
    margin-top: -5px;
    margin-bottom: 30px;
}

#ideaPage .comment .button-field {
    display: block;
    text-align: right;
}

#ideaPage .comment .reply-button {
    width: 130px;
    outline: 0;
    font-family: 'open_sansbold';
    margin-bottom: 10px;
}

#ideaPage .reply {
    width: 800px;
    position: relative;
    left: 400px;
}

#ideaPage .reply .comment-part {
    max-width: 630px;
}

#ideaPage .reply-block .comment {
    padding-top: 20px;
}

#ideaPage .reply-block .comment-heading {
    display: inline-block;
}

#ideaPage .reply-block input {
    width: 100%;
    background-color: transparent;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 10px;
    font-family: 'open_sanslight';
    font-size: 18px;
}

#ideaPage .reply-block textarea {
    width: 100%;
    margin-bottom: 20px;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    font-family: 'open_sanslight';
    font-size: 18px;
    padding: 10px;
    outline: 0;
    min-height:200px;
    margin-top: 20px;
}

#ideaPage .textarea-description{
    width:100%;
    resize:none;
    overflow:auto;
    height:400px;
    padding:10px;
    background:transparent;
    font-family: 'open_sansregular';
    font-size: 20px;
}

#ideaPage .textarea-short-description{
    height:120px;
    font-size:16px;
    margin-top:25px;
}

#ideaPage .idea-tags-empty .tag-editor {
    width: 100%;
}

#ideaPage .main{
   padding-top:0 !important;
}

/*************Slick-Slider*****************/

.slick-prev, .slick-next {
    width: 48px !important;
    height: 48px !important;
    background: transparent !important;
    z-index: 10000 !important;
    opacity: 0.50;
    transition: all .2s ease-in-out;
}

.slick-prev:hover, .slick-next:hover {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.slick-prev {
    left: 100px !important;
    background-image: url('../img/authSite/arrow-left.png') !important;
}

.slick-next {
    right: 100px !important;
    background-image: url('../img/authSite/arrow-right.png') !important;
}

.slick-prev:before, .slick-next:before {
    content: '' !important;
}

.slick-dots {
    bottom: 50px !important;
}

.slick-dots li button:before {
    background: #fff !important;
    content: '' !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
}

/*************Header*****************/

#header, #footer {
    width: 100%;
    height: 70px;
    background: #f5f5f5;
    border-bottom: 1px solid rgba(204, 204, 204, 0.32);
}

#header {
    position: fixed;
    z-index: 99999;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#header .my-container,
#footer .my-container,
#persons .my-container {
    padding: 0;
}

#header .logo {
    margin-right: 30px;
}

#header .logo a {
    padding: 0 !important;
}

#header .image-link {
    float: left;
    position: relative;
    margin-right: 30px;
    padding-top: 0 !important;
    padding: 0 5px;
}

#header .image-link-horizontal{
    margin-right: 0;
    margin-left:30px;
}

#header .navigation > li:nth-of-type(5) {
    margin-right: 0;
}

#header .image-link > a {
    padding: 0 5px !important;
}

#header .image-link > a:hover .text-link-under {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

#header .image-link .text-link {
    display: block;
    /*float: right;*/
}

#header .text-link-under {
    font-size: 14px;
    transition: all .2s ease-in-out;
    border-bottom: 1px solid transparent;
}

#header .image img,
#header .image > a > img {
    display: inline-block;
    max-height: 50px;
}

#header .image-small img {
    max-height: 40px;
}

#header .image-horizontal {
    position: absolute;
    left: -50%;
    top: -30%;
}

#header .image-horizontal img{
    max-height: 35px;
}

.navigation {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

 .navigation > li {
    float: left;
    margin-right: 25px;
    padding-top: 5px;
}

.navigation > li:last-of-type {
    margin-right: 0;
}

.navigation > li a {
    float: left;
    text-transform: :none !important;
    font-size: 18px !important;
    font-family: 'open_sansregular';
    color: #8e8e8e;
    display: block;
    text-align: center;
    padding: 18px 16px 0 16px;
    text-decoration: none;
    transition: all .1s ease-in-out;
    outline: 0;
}

.navigation > li a:hover {
    color: #03A9F4 !important;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

.navigation > li.active a {
    font-weight: bold;
    color: #000;
}

/*************Main Auth Page*****************/

#main-auth-page .my-container {
    padding: 0;
}

#main-auth-page button > a {
    color: inherit;
    outline: 0;
    width: 100%;
    display: inline-block;
}

#main-auth-page .section-footer {
    font-family: 'open_sansregular';
    text-align: right;
    width: 100%;
    padding: 10px 20px;
}

#main-auth-page .section-footer > p {
    width: 70%;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 16px;
    font-family: 'open_sansregular';
}

#main-auth-page .section-content {
    width: 100%;
    padding: 0 20px;
    text-align: center;
}

#main-auth-page .main {
    margin-top: -60px !important;
}

/*************Main Auth Slider*****************/

#slider-main-auth {
    height: 500px;
    background: rgb(204, 204, 204);
    text-align: center;
    margin-bottom: 50px;
}

#slider-main-auth .slider-item-wrap {
    padding: 120px 50px;
    outline: none;
    width: 100%;
}

#slider-main-auth .slider-item-wrap > .slider-item {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

#slider-main-auth .slider-item-wrap > .slider-item .slider-title,
#slider-main-auth .slider-item-wrap > .slider-item .slider-content,
#slider-main-auth .slider-item-wrap > .slider-item .slider-footer {
    margin-bottom: 30px;
}

#slider-main-auth .slider-item-wrap > .slider-item .slider-title {
    font-family: 'open_sansextrabold';
    font-size: 26px;
    text-align: center;
}

#slider-main-auth .slider-item-wrap > .slider-item .slider-content {
    font-size: 16px;
    font-family: 'open_sansregular';
}

#slider-main-auth .slider-item-wrap > .slider-item .slider-footer > .slider-more-btn,
.news-more-btn,
.news-next-btn {
    padding: 0;
    border-radius: 0;
    display: block;
    font-size: 18px;
    font-family: 'open_sansregular';
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    height: 40px;
    width: 140px;
    color: #fff;
    /*background-color: transparent;*/
    outline: 0;
    /*border: 2px solid #fff;*/
    text-transform: uppercase;
    /*transition: all .2s ease-in-out;*/
}

#slider-main-auth .slider-item-wrap > .slider-item > .slider-footer > .slider-more-btn:hover {
    color: #000;
    background-color: #fff;
}

.slider-item-1 {
    background-image: url('../img/authSite/slide1.jpg');
    background-size: cover;
}

.slider-item-2 {
    background-image: url('../img/authSite/slide2.jpg');
    background-size: cover;
}

.slider-item-3 {
    background-image: url('../img/authSite/slide3.jpg');
    background-size: cover;
}

/*************Auth Startup News*****************/

#startup-news, #achievements {
    background: #fff;
}

#startup-news .section-content .news-item {
    width: 30%;
    margin-right: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0;
}

#startup-news .section-content :last-child {
    margin-right: 0;
}

#startup-news .section-content .news-item .photo,
#startup-news .section-content .news-item .title,
#startup-news .section-content .news-item .content,
#startup-news .section-content .news-item .footer {
    margin-bottom: 20px;
}

#startup-news .section-content .news-item .photo {
    position: relative;
    width: 100%;
    /*height: 200px;*/
    /*outline: 1px solid #ccc;*/
}

#startup-news .section-content .news-item .photo img {
    /*position: absolute;
    left: 40%;
    top: 35%;
    background: #ccc;
    border: 1px solid #ccc;
    border-radius: 3px;*/
    width:100%;
    max-height:200px;
}

#startup-news .section-content .news-item .title {
    display: block;
    width: 100px;
    height: 30px;
    font-family: 'open_sansbold';
    font-size: 22px;
    text-align: left;
}

#startup-news .section-content .news-item .panel-body{
    height:340px;
}

#startup-news .section-content .news-item .content {
    font-family: 'open_sansregular';
    text-align: justify;
}

#startup-news .news-slider .slick-prev,
#startup-news .news-slider .slick-next {
    display: none !important;
}

#startup-news .news-slider .slick-dots {
    bottom: -40px !important;
}

#startup-news .news-slider .slick-dots li button:before {
    background: #000 !important;
}

.news-slider {
    margin-left: 10px;
}

.news-more-btn {
    padding: 0 !important;
    margin-left: 0;
    font-size: 14px !important;
    font-family: 'open_sansregular';
    height: 35px;
    width: 120px;
    color: #000;
    border: 2px solid #000;
    margin:0 !important;
}

.news-more-btn:hover {
    color: #fff;
    background: #000;
}

.news-next-btn {
    display: inline;
    /*margin-top: 40px !important;*/
}

/**************Achievements*****************/

#achievements .section-content .block h3 {
    color: #000;
}

#achievements .section-content .block > .round {
    border: 1.5px solid #03A9F4;
    display: table;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

#achievements .section-content .block > .round:hover {
    background: #03A9F4;
    color: #fff;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid #fff;
}

#achievements .section-content .block .round > .text {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    font-family: 'open_sansbold';
    font-size: 36px;
}

/**************About US******************/

#about-us {
    width: 100%;
}

#about-us .our-story {
    display: block;
    width: 100%;
    padding: 10px 24px;
    float: left;
}

#about-us .our-story > .out-story-left,
#about-us .our-story > .out-story-right,
#user-info .user-info-wrapper .user-info-left,
#user-info .user-info-wrapper .user-info-right {
    display: block;
    float: left;
    width: 50%;
}

#user-info #ideaBody,
#user-info #ideaBody .my-container {
    padding-top: 0;
}

#about-us .our-story > .out-story-left {
    margin-right: 23%;
}

#about-us .our-story > .out-story-left > .title {
    font-family: 'open_sansregular';
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

#about-us .our-story > .out-story-left > .content {
    font-size: 16px;
    font-family: 'open_sansregular';
    line-height: 25px;
    text-align: center;
}

#about-us .our-story > .out-story-right {
    width: 300px;
    height: 300px;
    background: green;
    border-radius: 50%;
    display: table;
    box-shadow: 1px 1px 5px #000;
}

#about-us .our-story > .out-story-right > .title-wrap {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#about-us .our-story > .out-story-right .title-top,
#about-us .our-story > .out-story-right .title-bottom {
    text-transform: uppercase;
    font-size: 42px;
    color: #f5f5f5;
    font-family: 'open_sansregular';
}

#about-us .our-story > .out-story-right .title-top:after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background: #fff;
    margin: 0 auto;
}

#persons {
    width: 100%;
}

#persons .persons-wrapper {
    width: 100%;
    display: table;
    border-spacing: 20px;
}

#persons .persons-wrapper .person-item {
    width: 23%;
    min-height: 500px;
    padding: 10px;
    margin-right: 23px;
    display: table-cell;
}

#persons .persons-wrapper .person-item > .person-photo,
#persons .persons-wrapper .person-item > .person-name,
#persons .persons-wrapper .person-item > .person-descr,
#persons .persons-wrapper .person-item > .person-social-accounts {
    margin-bottom: 10px;
}

#persons .persons-wrapper .person-item > .person-photo {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#persons .persons-wrapper .person-item > .person-photo > img {
    width: 100%;
    border-radius: 50%;
    max-height: 250px;
}

#persons .persons-wrapper .person-item > .person-name {
    font-size: 18px;
    font-weight: 600;
    font-family: 'open_sansregular';
    text-align: center;
}

#persons .persons-wrapper .person-item > .person-descr {
    text-align: justify;
    font-size: 14px;
    height:150px;
    font-family: 'open_sansregular';
}

#persons .persons-wrapper .person-item > .person-social-accounts {
    float: left;
    width: 100%;
}

#persons .persons-wrapper .person-item > .person-social-accounts > .social-icons {
    display: block;
    padding: 0;
    width: 185px;
    margin: 0 auto;
    float: none;
}

#contacts {
    width: 100%;
}

#contacts .contacts-left,
#contacts .contacts-right {
    width: 45%;
    float: left;
}

#contacts > .contacts-left {
}

#contacts .contacts-title {
    font-size: 26px;
    font-family: 'open_sansbold';
    margin-bottom: 20px;
}

#contacts .contacts-content {
    width: 100%;
}

#contacts .contacts-content form {
    width: 100%;
    font-size: 16px;
    font-family: 'open_sanslight';
}

#contacts .contacts-content form input,
#contacts .contacts-content form textarea {
    float: left;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #000;
    transition: all .3s ease-in-out;
}

#contacts .contacts-content form textarea {
    height: 200px;
    outline: 0;
    resize: none;
}

#contacts .contacts-content form input:focus,
#contacts .contacts-content form textarea:focus {
    box-shadow: 1px 1px 3px #8e8e8e;
    transition: all .3s ease-in-out;
    outline: 0;
}

#contacts .vertical-divider {
    height: 465px;
    margin: 0 45px !important;
    float: left;
}

#contacts .contacts-content ul,
#contacts .contacts-content ul > .info-item > ul {
    margin: 0;
    padding: 0;
}

#contacts .contacts-content ul > .info-item {
    margin-bottom: 30px;
}

#contacts .contacts-content ul > .info-item > ul > li {
    margin-bottom: 5px;
}

#contacts .contacts-content ul > .info-item,
#contacts .contacts-content ul > .info-item > ul > li {
    list-style: none;
    font-size: 16px;
    font-family: 'open_sanslight';
}

#contacts .contacts-content ul > .info-item > ul > li:first-of-type {
    font-weight: 600;
    font-size: 18px;
}

/***************User Page*******************/

#user-info {
    width: 100%;
}

/****************Footer******************/

#footer {
    padding: 10px 0;
    border-bottom: none;
    border-top: 1px solid rgba(204, 204, 204, 0.32);
}

#footer ul {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
}

#footer > .my-container > ul {
    height: 50px;
}

#footer ul > li {
    float: none;
    list-style: none;
    font-size: 16px;
    font-family: 'open_sansregular';
    display: table-cell;
    vertical-align: middle;
}

#footer ul > li > .social-icons,
.person-social-accounts > .social-icons {
    margin: 0;
    width: 100%;
}

#footer ul > li > .social-icons > li,
.person-social-accounts > .social-icons > li {
    float: right;
    padding: 0;
    margin-right: 5px;
    list-style: none;
}

/****************Tag Editor Styles***************/

.tag-editor {
    width: 100%;
    min-height: 66px;
    padding: 9px;
    background:transparent;
    border:1px solid rgb(169, 169, 169);
    color:#fff !important;
}

.tag-editor input{
    width:160px !important;
}

.tag-editor .tag-editor-tag {
    margin-bottom: 0;
    margin-right: -5px !important;
}

.tag-editor .placeholder {
    line-height: 40px;
}

.tag-editor .tag-editor-tag.active {
    color:#fff !important;
    background: rgba(204, 204, 204, 0.32) !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tag-editor li {
    font-size: 18px;
}

.tag-editor .tag-editor-delete,
.tag-editor .tag-editor-tag {
    visibility: visible !important;
    color:#fff !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}

.tag-editor .tag-editor-delete i:before {
    font-size: 26px;
    color: rgba(255,255,255,1);
    content: "×";
    font-style: normal;
    vertical-align: middle;
}

.tag-editor .tag-editor-delete {
    padding: 9px;
    color: #fff !important;
    border: 1px solid #fff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: #A92D2D;
}

.tag-editor .tag-editor-tag.active + .tag-editor-delete,
.tag-editor .tag-editor-tag.active + .tag-editor-delete i {
    display: none;
}

/************Gereral Styles For Editable Pages************/

.editProfile{
    position: absolute;
    right: 50px;
}

.notification-window{
    position:fixed;
    width:400px;
    z-index:999999;
    bottom:0;
}

.notification-cancel,
.notification-save{
    display:none;
}

.states-block-wrap{
    /*position: absolute;
    right: 0;
    top: 0;
    display: table;
    width: 170px;
    height: 40px;
    border-spacing: 30px;*/
    position: fixed;
    right: 30px;
    top: 120px;
    display: table;
    width: 100px;
    height: 40px;
    border-spacing: 30px;
    background: rgba(0, 0, 0, 0.73);
    border-radius: 5px;
    z-index: 999999;
}

.state-block{
    display: table-row;
    width: 57px;
    height: 40px;
}

.state-block button{
    background:transparent;
    border:none;
    width:100%;
    height:100%;
}

.input-wrap{
    position:relative;
    width:100%;
    z-index:99999999;
}

.nostyle-input{
    width:270px;
    padding:0;
    border-radius:3px;
    border-color:transparent;
    border-bottom:2px solid transparent;
    transition: all .2s ease-in-out;
    position:relative;
    background:transparent;
}

.nostyle-input-fluid{
    width:100% !important;
    text-align:center;
}

.nostyle-input:focus,
.nostyle-input:hover{
    border-bottom:2px solid rgb(251, 192, 45);
        transition: all .2s ease-in-out;
}

.save{
    background:url('../img/authSite/save.png');
    transition: all .3s ease-in-out;
}

.save:hover {
    background: url('../img/authSite/saveActive.png');
    transition: all .3s ease-in-out;
}

.cancel {
    background-image: url('../img/authSite/cancel.png');
    transition: all .3s ease-in-out;
}

.cancel:hover {
    background-image: url('../img/authSite/cancelActive.png');
    transition: all .3s ease-in-out;
}

/**********************Social-Icons******************************/
.linkedin,
.googlePlus,
.twitter,
.fb,
.vk,
.linkedin:hover,
.googlePlus:hover,
.twitter:hover,
.fb:hover,
.vk:hover {
    transition: all .3s ease-in-out;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.linkedin {
    background-image: url('../img/authSite/socialcons/linkedin.png');
}

.linkedin:hover {
    background-image: url('../img/authSite/socialcons/linkedinActive.png');
}

.googlePlus {
    background-image: url('../img/authSite/socialcons/google.png');
}

.googlePlus:hover {
    background-image: url('../img/authSite/socialcons/googleActive.png');
}

.twitter {
    background-image: url('../img/authSite/socialcons/twitter.png');
}

.twitter:hover {
    background-image: url('../img/authSite/socialcons/twitterActive.png');
}

.fb {
    background-image: url('../img/authSite/socialcons/fb.png');
}

.fb:hover {
    background-image: url('../img/authSite/socialcons/fbActive.png');
}

.vk {
    background-image: url('../img/authSite/socialcons/vkpng.png');
}

.vk:hover {
    background-image: url('../img/authSite/socialcons/vkActive.png');
}
